@charset "utf-8";
/* CSS Document */

* {
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: "SimSong", serif;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear-fix {
    clear: both;
}

.print-container {
    width: 256px;
}

.print-container table {
    width: 100%;
}

.col-1 {
    width: 60%;
    text-align: left;
}

.col-2 {
    width: 20%;
    text-align: center;
}

.col-3 {
    width: 20%;
    text-align: right;
}

.bill-title {
    text-align: center;
}

.bill-wel {
    text-align: center;
}

.bill-qr {
    width: 200px;
}
