.li_head{
    height: 30px;
    text-align: center;
    color: #ffffff;
}
.li_fun{
    text-align: right;
    color: #ffffff;
}
.li_fa{
}
.li_fa:hover{
    color: #ffd22e;
}
.main{
    text-align: center;
}
/*模板左侧导航栏*/
.black{
    color: #5E5E5E;
}
.nav-label{
    color: #5E5E5E;
}
/*模板页左侧导航栏*/
.nav-third-level li, .nav-fourth-level li {
    border-bottom: none !important
}
.nav-fourth-level li a {
    padding: 7px 15px 7px 10px;
    padding-left: 40px
}
/*nav四层颜色*/
.nav >  li.active {
    border-left: 4px solid #171a1999;
    background: #3e4c5a33
}
.nav .nav-second-level > li {
    border-left: 4px solid #171a1999;
    background: #BFCAE5
}
.nav .nav-third-level > li{
    border-left: 4px solid #171a1999;
    background: #9BB8E6
}
.nav .nav-fourth-level > li {
    border-left: 4px solid #171a1999;
    background: #9494E6
}
.nav >#allIndex> li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 10px
}
.navbar-default .nav >#allIndex> li > a:focus, .navbar-default .nav >#allIndex> li > a:hover {
    background-color: #6D8389;
    color: #000
}
.nav >#allIndex> li > a i {
    margin-right: 6px
}
body.mini-navbar .navbar-default .nav >#allIndex> li > a {
    font-size: 16px
}

.top-navigation .nav >#allIndex> li > a {
    padding: 15px 20px;
    color: #676a6c
}
.skin-1 .nav >#allIndex> li > a {
    color: #9ea6b9
}
.skin-1 .navbar-default .nav >#allIndex> li > a:focus, .skin-1 .navbar-default .nav >#allIndex> li > a:hover {
    background: #39aef5;
    color: #fff
}
.skin-3 .nav >#allIndex> li > a {
    color: #948b96
}
.skin-3 .navbar-default .nav >#allIndex> li > a:focus, .skin-3 .navbar-default .nav >#allIndex> li > a:hover {
    background: #38283c;
    color: #fff
}
/*id_temp=3*/
.table .funTr th{
    text-align: center;
}
.table .usableTr th{
    text-align: left;
}
.table .end th{
    text-align: center;
}
